*.bak*
*.bin
*.npy
*.pdf
*.png
*_sample.py
*_study.py
*build
*core*
*dist
*egg-info
*temp*
*tmp
.ccls-cache*
.ipynb_checkpoints/
.tox
__pycache__*
nohup.out
qcs
sim-beta/.ccls*
sim-beta/Debug
sim-beta/build
sim-beta/compile_commands.json
test_data*
