*.bak*
*.bin
*.npy
*.pdf
*.png
*_study.py
*build
*core*
*dist
*egg-info
*ipynb
*temp*
*tmp
.ccls-cache*
__pycache__*
nohup.out
sim-beta/.ccls*
sim-beta/Debug
sim-beta/build
sim-beta/compile_commands.json
test_data*
test/
